<div *ngIf="appSvc?.userData" style="text-align:center">
  <br>

  <nav>
    <a routerLink="/home" routerLinkActive="active">[ Home ]</a>
    ----
    <a routerLink="/profile" routerLinkActive="active">[ Profile* ]</a>
  </nav>

  <h2> Your profile </h2>
  <p>
    displayName: {{appSvc?.userData?.displayName}}
  </p>
  <p>
    userPrincipalName: {{appSvc?.userData?.userPrincipalName}}
  </p>
  <p>
    email: {{appSvc?.userData?.mail}}
  </p>
  <p>
    businessPhones: {{appSvc?.userData?.businessPhones}}
  </p>
</div>